@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-spin-slow {
    animation: spin 8s linear infinite;
  }

  .animate-zoom-in {
    animation: zoomIn 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28) forwards;
  }

  .animate-fade-in {
    animation: fadeIn 0.8s ease-out forwards;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Custom Scrollbar for Textarea */
textarea::-webkit-scrollbar {
  width: 8px;
}

textarea::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

textarea::-webkit-scrollbar-thumb {
  background: rgba(253, 224, 71, 0.5);
  border-radius: 4px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background: rgba(253, 224, 71, 0.8);
}